@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap%27");

.card-display {
  width: 400px;
  height: 300px;
  padding: 20px;
  position: relative;
  max-width: 75vw;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(66, 66, 66);
  box-shadow: 0px 0px 15px 0px rgba(66, 66, 66);
}

.swipedCardsContainer {
  display: flex;
  justify-content: center;
}

.swipedCard {
  position: absolute;
}

.beau-text {
  display: flex;
  justify-content: center;
}

.card-display {
  height: 500px;
}

#root {
  overflow: hidden;
}

.send-message {
  position: relative;
  left: 10px;
  top: 550px;
}

.beau-text {
  font-family: "Times New Roman", serif;
  font-weight: 400;
  color: black;
  font-size: 60px;
  margin-top: 20px;
}

.buds {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: black;
}

.theline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.thefooterprofilez {
  margin-top: 500px;
  color: blue;
  padding-top: 550px;
  font-size: 20px;
}

.success {
  background-color: green;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
