.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #faae7b, #432371);
}
.beau-logo {
  width: 30px;
  height: 30px;
}

.login {
  display: flex;
  justify-content: center;
}

.logout {
  color: black;
}

.person {
  color: black;
}
