@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap%27");
.header {
  display: flex;
  justify-content: space-between;
}
.beau-logo {
  font-family: "Monoton", cursive;
  color: white;
  font-size: 40px;
}

.login {
  display: flex;
  justify-content: center;
}

.logout {
  color: black;
}

.person {
  color: #7b8390;
}

.top-navbar {
  padding-bottom: 20px;
}

.nav-icon {
  color: #7b8390;
  font-size: 45px;
}

a {
  text-decoration: none;
}

.profile-form {
  width: 500px;
}

.sizebuttoner {
  width: 200px;
}
