.header {
  display: flex;
  justify-content: space-between;
}
.beau-logo {
  width: 30px;
  height: 30px;
}

.login {
  display: flex;
  justify-content: center;
}

.logout {
  color: black;
}

.person {
  color: #7b8390;
}

.top-navbar {
  padding-bottom: 20px;
}

.nav-icon {
  color: #7b8390;
  font-size: 25px;
}
